body {
	font-family: 'Roboto', sans-serif;
	padding: 10px 10px 10px 10px;
	color: #999;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 32px;
	font-weight: bold;
	padding: 5px 0px 5px 0px;
	color: #bbb;
}

a {
	color: #ddd;
}


canvas {
	position: absolute;
	left: 0;
	top: 0;
	background-color: black;
	color: white;
	width: 100%;
	height: 100%;
	z-index: 0;
}

#about {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0 40px 40px 0;
	padding: 20px 20px 20px 20px;
	background: rgba(0, 0, 0, 0.2);
	border: 1px solid #333;
	border-radius: 12px;
	z-index: 10;
	text-align: center;
}
