body {
	font-family: Verdana, sans-serif;
	padding: 10px 10px 10px 10px;
}

h1 {
	font-size: 32px;
	font-weight: bold;
	padding: 5px 0px 5px 0px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}


canvas {
	position: absolute;
	left: 0;
	top: 0;
	/*
	background-color: black;
	color: white;
	width: 100%;
	height: 100%;
	*/
	width: 400px;
	height: 300px;
}
